@using TravelTripProje.Models.Sinifler
@model List<Blog>
<div class="box1-left">
    @foreach (var x in Model)
    {
        <div class="bot-img"  >
            <img src="@x.BlogImage" alt="" height:65px; width:120px />
        </div>
        <div class="bot-desc1">
            <p> @x.Aciklama.Substring(0,20) </p>
        </div>
        <div class="clear"></div>
    }
</div>